$header-footer-bg: #6b6b6b;
$black-color-1: #000;
$black-color-2: #111;
$light-color: #ebebeb;
$white-color: #fff;

$heading-h1-color: #333;
$heading-h1-size: 3.9rem;
$heading-h1-height: 1.15;

$main-font-family: "Roboto", Arial, sans-serif;
$secondary-font-family: "Roboto I", Helvetica, sans-serif;

$main-font-style: normal;
$secondary-font-style: italic;

$main-font-size: 1.5rem;
$main-font-height: 1.3;
