.hero {
  background-color: $light-color;

  padding: {
    top: 6.7rem;
    bottom: 6.7rem;
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  .side {
    display: flex;
    width: 571px;
    flex-direction: column;
    justify-content: center;

    &__img {
      align-items: center;
      text-align: center;
      padding: 0 12.8rem;
    }
  }

  &__title {
    color: $heading-h1-color;
    margin-bottom: 1.1rem;
    line-height: $heading-h1-height;

    font: {
      weight: 400;
      size: $heading-h1-size;
    }
  }

  &__description {
    font-size: 1.7rem;
    color: $heading-h1-color;
    margin-bottom: 3rem;
  }

  &__btn {
    max-width: 36.9rem;
    border-radius: 5px;
    border: none;
    padding: 1.5rem 2.5rem;
    background-color: $white-color;
  }

  &__img {
    filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.2));
    border-radius: 3px;
  }

  &__text {
    font-size: 1.3rem;
    line-height: 1.62;
    color: rgba(0, 0, 0, 0.5);
  }
}

.brands {
  background-color: #d3d3d3;
  padding: 4rem 0;

  .list {
    display: flex;
    justify-content: space-between;

    &__link {
      transition: opacity 0.2s ease-in-out;

      &:hover {
        opacity: 0.6;
      }
      &:active {
        opacity: 0.4;
      }
    }
  }
}

.isClass {
  padding: {
    top: 5rem;
    bottom: 5rem;
  }

  .container {
    display: flex;
    flex-direction: column;

    h2 {
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.12;
      margin-bottom: 1.4rem;
    }

    p {
      font-size: 1.5rem;
      line-height: 1.6;
    }
  }

  .text {
    display: flex;
    &-right {
      flex-direction: row-reverse;
    }
    // &-left {
    // }
  }

  &__info {
    width: 576px;
    padding: {
      top: 6.8rem;
      right: 4.7rem;
      left: 2rem;
    }
  }

  &__info:last-child {
    padding-right: 3.6rem;
  }

  &__img-side {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    img {
      filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.2));
      border-radius: 3px;
    }

    p {
      position: relative;
      text-align: center;
      font-size: 1.2rem;
      color: #777;
    }
  }
}

.layout {
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-color: $light-color;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }

  h2 {
    text-align: center;
    font-size: 3.1rem;
    font-weight: 400;
    color: $heading-h1-color;
    margin-bottom: 1.1rem;
  }

  .text {
    font-size: $main-font-size;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 4rem;
  }

  .img {
    filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.2));
    border-radius: 3px;
    width: 240px;
    height: 98px;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  .text-sub {
    font-size: 1.2rem;
    line-height: 1.75;
    color: #777;
    text-align: center;
  }

  .cards {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
  }

  .card {
    &__item {
      width: 364px;
      padding: {
        top: 3rem;
        bottom: 3.4rem;
        left: 5rem;
        right: 5rem;
      }
      background-color: $white-color;
    }

    &__title {
      font-size: 1.8rem;
      color: $heading-h1-color;
      line-height: 1.3;
      margin-bottom: 3rem;
      text-align: center;
    }

    &__img {
      margin: 0 auto;
      margin-bottom: 3.8rem;
    }

    &__text {
      font-size: 1.4rem;
      color: $heading-h1-color;
      text-align: center;
    }
  }
}

.last-part {
  padding: {
    top: 9.9rem;
    bottom: 8rem;
  }

  h2 {
    font-size: 3.2rem;
    line-height: 1.12;
    color: $heading-h1-color;
    font-weight: 400;
    margin-bottom: 4.1rem;
  }

  .cards {
    display: flex;
  }

  .card {
    &__item {
      width: 298px;
      padding : {
        right: 3.6rem;
        left: 2rem;
      }
    }

    &__img {
      margin-bottom: 3rem;
      filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.2));
      border-radius: 3px;
    }

    &__title {
      font-size: 1.8rem;
      font-weight: 400;
      color: $heading-h1-color;
      line-height: 1.33;
    }

    &__text {
      font-size: 1.5rem;
      line-height: 1.6;
      color: #333;
    }
  }
}
